<div class="chatContainer">
    <h2>Conversations</h2>
    <hr />

    <div class="chats flexVertical">
        <div onclick="getVideoChat()" data-id="bed84e13-0639-47ce-abaf-dfa4ff6e4826" class="chat">
            <img src="https://scontent-lax3-1.cdninstagram.com/v/t51.2885-19/s320x320/136703651_254060159466963_1628731086667179456_n.jpg?tp=1&_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_ohc=sUpGkFv81mEAX_0olhZ&edm=ABfd0MgAAAAA&ccb=7-4&oh=07012a62aaab318bfc6843fef87f3246&oe=60971D40&_nc_sid=7bff83" class="clip-circle" />
            <div class="chatText">
                <div class="chatName">Jaden <i style="font-size:1rem; font-weight:normal;">- New Message</i></div>
                <div class="chatCompany">JobJay</div>
            </div>
        </div>
        <div onclick="getVideoChat()" data-id="bed84e13-0639-47ce-abaf-dfa4ff6e4826" class="chat">
            <img src="https://scontent-lax3-1.cdninstagram.com/v/t51.2885-19/s320x320/156406765_884731838957803_3489320871851984317_n.jpg?tp=1&_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_ohc=vEWauKAhixoAX9QwEMr&edm=ABfd0MgAAAAA&ccb=7-4&oh=733da4c3f413e6c7c15ca9d9c2510e5c&oe=6097DAB1&_nc_sid=7bff83" class="clip-circle" />
            <div class="chatText">
                <div class="chatName">Mikayla</div>
                <div class="chatCompany">Amazon</div>
            </div>
        </div>
        <div onclick="getVideoChat()" data-id="bed84e13-0639-47ce-abaf-dfa4ff6e4826" class="chat">
            <img src="https://scontent-lax3-1.cdninstagram.com/v/t51.2885-19/s320x320/150895429_1376662886027183_3315923196554587899_n.jpg?tp=1&_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_ohc=-O10n51T7kMAX9t5TjQ&edm=ABfd0MgAAAAA&ccb=7-4&oh=ddc3eeeb8f164314095061b7fc4b8f5c&oe=6095F705&_nc_sid=7bff83" class="clip-circle" />
            <div class="chatText">
                <div class="chatName">Maddie</div>
                <div class="chatCompany">Google</div>
            </div>
        </div>
        <div onclick="getVideoChat()" data-id="bed84e13-0639-47ce-abaf-dfa4ff6e4826" class="chat">
            <img src="https://scontent-lax3-1.cdninstagram.com/v/t51.2885-19/s320x320/140055104_113817703985274_7306032941371618956_n.jpg?tp=1&_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_ohc=CoroRt5PjwoAX-vZij2&edm=ABfd0MgAAAAA&ccb=7-4&oh=27ff0efba10e3feaf38e62aa3438c083&oe=6099424C&_nc_sid=7bff83" class="clip-circle" />
            <div class="chatText">
                <div class="chatName">Elon</div>
                <div class="chatCompany">Tesla</div>
            </div>
        </div>
    </div>
</div>