<div class="profile">
    <img src="https://ca.slack-edge.com/T01TJ4MSE69-U01UB1462U8-753531081171-512" class="clip-circle"/>
    <h2>Jacob Barnes</h2>
    <div class="profilerole">Software Engineer</div>
    <div class="submit resume">MY RESUME</div>
    <div class="summary">Highlights</div>
    <div class="listHeader">
        <ul>
            <li>Proficient in HTML, JavaScript, CSS, .NET Core (C#), MSSQL</li>
            <li>Expereienced with React, Node.js, Python, PHP</li>
            <li>Interests include beatboxing/looping, wakeboarding, barefoot waterskiing</li>
        </ul>
    </div>
</div>



<button class="profilelogout" onclick='logout()'>Logout</button>