<div id="mainContent" class="flexVertical">
    <h2 class="mainPaddingLeft">Find Opportunities</h2>
    <h3 class="mainPaddingLeft">Our Picks For You</h3>
    <div class="topPicks flexHorizontal">
        <div class="topPick">
            <img src="~/images/google.png" />
            <div class="role mainPaddingLeft">Software Engineer</div>
            <div class="company mainPaddingLeft">Google</div>
        </div>
        <div class="topPick">
            <img src="~/images/hubspot.png" />
            <div class="role mainPaddingLeft">Software Engineer</div>
            <div class="company mainPaddingLeft">Hubspot</div>
        </div>
        <div class="topPick">
            <img src="~/images/hubspot.png" />
            <div class="role mainPaddingLeft">Software Engineer</div>
            <div class="company mainPaddingLeft">Hubspot</div>
        </div>
    </div>
    <h3 class="mainPaddingLeft">Browse All</h3>
</div>
<div id="navbar">
    <i class="far fa-comment" onclick="getChat()"></i>
    <i class="fa fa-home orangeButton" onclick="getApp()"></i>
    <i class="far fa-user" onclick="getProfile()"></i>
</div>
