<div class="landingImgBackground">
    <img src="~/images/splash.png" />
</div>
<div class="landingFooter">
    <button class="submit login" onclick="getLogin()" style="background-color:white; border: solid 2px black; color:black;">LOG IN</button>
    <button class="submit register" onclick="getRegister()">REGISTER</button>
</div>