
<div class="login-form">
    <i class="fas fa-arrow-left clickable" onclick="getLanding()"></i>
    <h1>Log in</h1>
    <hr />
    <form id="loginForm" onsubmit="return false;">
        @Html.AntiForgeryToken()
        @Html.TextBox("Email", null, new { @class = "form-control", type = "email", value = "jacobbarnes167@gmail.com", placeholder = "Email" })
        @Html.Password("Password", null, new { @class = "form-control", value = "Schedulis1!", placeholder = "Password" })

        <button type="submit" onclick="login();" id="submitButton" class="submit">LOG IN</button><br />
        <button class="button-link" id="forgotPassword">Forgot password?</button>
    </form>
</div>
