@{
    /**/
    ViewBag.Title = "Register";
}

<div class="login-form">
    <i class="fas fa-arrow-left clickable" onclick="getLanding()"></i>
    <h1>Sign up</h1>
    <hr />

    <form id="registerForm" onsubmit="return false;">
        @Html.AntiForgeryToken()
        @Html.TextBox("Email", null, new { @class = "form-control", type = "email", value = "jacobbarnes167@gmail.com", placeholder = "Email" })
        @Html.Password("Password", null, new { @class = "form-control", value = "Schedulis1!", placeholder = "Password" })
        <p style="color: red;" id="errorMessage">@Html.Raw(ViewBag.error)</p>
        <button id="submitButton" onclick="register();" class="submit">Sign up</button>
        <p>
            By signing up, you agree to our
            <a class="button-link" target="_blank" href="#">terms</a>,
            <a class="button-link" target="_blank" href="#">privacy policy</a>, and
            <a class="button-link" target="_blank" href="#">cookie policy</a>.
        </p>
    </form>
</div>
